<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
      <header>
        <h1>Hi! I am Xiangyu Han, nice to meet you! </h1><br>
        <h1>Currently a graduate student at Nanjing University, advised by Prof. Chen Tian.</h1><br>
        <h1>Now actively seeking Ph.D. positions in Datacenter Networking. If you are interested in hiring an experienced and self-motivated candidate, please do not hesitate and contact me!</h1>
          <br>
          <span style="color: black; display: block; margin-bottom: 1em;">My name is Xiangyu Han (韩翔宇). I was born in China, a beautiful country with amazing peoples.
           <br>
              <br style="margin-bottom: 1em;"> I'm currently a graduate student in Computer Science and Technology at Nanjing University, located in Nanjing, China, where I worked on research projects in the State Key Laboratory for Novel Software Technology under the supervision of Professor <a href="https://cs.nju.edu.cn/tianchen/index.htm"style="color: blue;">Chen Tian</a>.
           <br>
              <br style="margin-bottom: 1em;"> Before the graduate school, I earned my bachelor's degree in Computer Science and Technology from Nanjing University too.
           <br>
              <br style="margin-bottom: 1em;"> My interest lies in Networking, particularly in datacenter networking and programmable networks. I also have a lot of experince studing and building telemetry systems. If you're interested in collaborating with me or have any exciting ideas, please don't hesitate to contact me via email! I'll graduate from my Master's program soon, and I am actively looking for a PhD program opportunity now!
           <br>
              <br style="margin-bottom: 1em;"> Apart from my academic interests, I'm a passionate pop Culture enthusiast, a music lover (though I cannot play a single instrument), and a Nintendo fan.
          <br style="margin-bottom: 1em;"> Thank you for taking the time to learn a bit more about me. Let's connect and see how we can make the world a better place through technology and our shared interests!
          <br>
          <br><b>Check out my <a href="/cv.pdf"style="color: blue;">CV</a> here!</b>
        </span>
  
      </header>
      <!--        <p>-->
      <!--            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>-->
      <!--        </p>-->
    </article>
</section>