<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Nanjing University</h1>
            <span><p>Master of Engineering<br>Computer Science and Technology<br></p><address>Nanjing, China</address><time>Sep 2022 to Jun 2025 (Estimated)</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Nanjing University</h1>
            <span><p>Bachelor of Science<br>Computer Science and Technology<br></p><address>Nanjing, China</address><time>Aug 2018 to Jun 2022</time></span>
    </article>
</section>