<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Intern</h1>
            <span><address>Tencent, China</address><time>Jun 2024 to Sep 2024</time></span>
        </header>
        <p>Mentor: Yadong Liu</a>
            <br>Validate Load Balance Algorithm. LLMs display a network pattern different from prior cloud applications, calling for new LB methods. My team proposed a new LB algorithm, and my job was to model the design with queueing theory and carry out simulations. Results provided a tight bound on switch queuing delay.
            <br>Implement RACK-TLP in ns3 simulator. RACK-TLP is a TCP-based scheme by Google that differentiate packet losses from out-of-order deliveries. I wrote about 500 lines to implement it on RoCE in ns3, and compared it to our queueing theory based solution.
            <br>Analyze Network Patterns in LLM Inference. An emerging trend in LLM inference is Prefill-Decode disaggregation, demanding frequent KV Cache exchange in the network. My job was to study recent LLM serving systems to identify network patterns, and analyze potential optimizations.
        </p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Nanjing University, China</address><time>Spring 2023, Fall 2023 and Spring 2024</time></span>
        </header>
        <p>Being a TA of the Computer Network course by Prof. Chen Tian et al. at Nanjing University
            <br>Prepared lectures and experiment sessions from the link layer to the application layer.
            <br>Hosted office hours for students on assignments and exams.
            <br>Participated in the design and graded the course assessments to ensure students stayed on track.
        </p>
    </article>
</section>